
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Nityaa Kalra
url: "https://nityaak5.github.io"
baseurl:  ""
description: >- # this means to ignore newlines until "baseurl:"
  AI Researcher at Tilburg University. Interests: NLP, XAI, responsible AI, recommender systems.
twitter_username: 
github_username: nityaak5
minimal_mistakes_skin: air
search: true

atom_feed:
  hide: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Outputting



include:
  - _pages



# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name: "Nityaa Kalra"
  avatar: "/assets/images/bio-photo.jpg"
  bio: "AI researcher interested in NLP, explainable AI, responsible AI, and recommender systems."
  links:
    - label: "Email (Work)"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:n.kalra@tilburguniversity.edu"
    - label: "Email (Personal)"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:nityaak5@gmail.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/nityaak5"
    - label: "Medium"
      icon: "fab fa-fw fa-medium"
      url: "https://medium.com/@nityaakalra5"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/nityaakalra"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/nityaak5"
    - label: "Medium"
      icon: "fab fa-fw fa-medium"
      url: "https://medium.com/@nityaakalra5"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/nityaakalra"
    - label: "Email (Work)"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:n.kalra@tilburguniversity.edu"
    - label: "Email (Personal)"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:nityaak5@gmail.com"




defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
